html {
    box-sizing: border-box;

}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    padding: 10px;
    margin: auto;
    max-width: 500px;
    min-width: 350px;
}
.task_button-done {
    background-color: teal;
    width: 25px;
    height: 25px;
    border: none;
    
}
.task__button-remove {
    background-color: red;
    width: 25px;
    height: 25px;
    border: none;
}